textarea {
  width: 400px;
  height: 100px;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
}
input {
  width: 200px;
  margin-bottom: 10px;
}
.category-choice input {
  width: 30px;
}
#question {
  width: 400px;
}
.voting {
  text-align: center;
  float: right;
  margin: 10px;
}
.voting p {
  margin: 5px;
}
