body {
  background-color: #505080;
}
textarea {
  width: 400px;
  height: 100px;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
h1 {
  background-color: #ffffd0;
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  width: 100px;
  border: solid 3px blue;
  margin-bottom: 20px;
}
input {
  width: 200px;
  margin-bottom: 10px;
}
.category-choice input {
  width: 30px;
}
.container {
  margin-top: 30px;
  padding: 50px;
  padding-top: 30px;
  max-width: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  min-width: 415px;
}
#question {
  width: 400px;
}
.voting {
  text-align: center;
  float: right;
  margin: 10px;
}
.voting p {
  margin: 5px;
}
