{{question-list questions=model}}
<h3>Categories:</h3>
<ul>
  <li>{{#link-to "category" "Arts_&_Media"}}Arts &amp; Media{{/link-to}}</li>
  <li>{{#link-to "category" "Health"}}Health{{/link-to}}</li>
  <li>{{#link-to "category" "Science_&_Mathematics"}}Science &amp; Mathematics{{/link-to}}</li>
  <li>{{#link-to "category" "Politics"}}Politics{{/link-to}}</li>
  <li>{{#link-to "category" "Spirituality_&_Religion"}}Spirituality &amp; Religion{{/link-to}}</li>
</ul>
<hr>
{{new-question save="save"}}
