<h3>Questions:</h3>
<ul>
  {{#each model as |question|}}
    <li>{{question.author}} asks: {{#link-to "question" question.id}}"{{question.questionText}}" ({{number-of-answers question}} answers){{/link-to}}</li>
  {{/each}}
</ul>
<hr>
{{new-question save="save"}}
